@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic-ext");
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  color: #4B5268;
  font-family: "Roboto", sans-serif; }

h3 {
  font-size: 32px; }

h2 {
  font-size: 38px; }

.text-blue {
  color: #6FB2DC; }

.pos-rel {
  position: relative; }

.bg-light {
  background-color: #F5f7ff !important; }

.z-1 {
  z-index: 1; }

.btn-orange {
  font-size: 15px;
  color: white;
  background-color: #FF8300;
  border-radius: 100px;
  padding: 15px 0;
  border: 0;
  outline: none !important; }

.franchise {
  padding: 100px 0 150px !important;
  background-image: url("../img/franchise.png");
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1; }
  .franchise h2 {
    margin-bottom: 40px; }

.price {
  padding: 45px 0 130px; }
  .price h2 {
    margin-bottom: 40px; }
  .price .card {
    background: #FFFFFF;
    box-shadow: 0px 5px 18px rgba(99, 108, 139, 0.3);
    border-radius: 12px;
    padding: 50px 0;
    text-align: center;
    border: 5px solid white; }
    .price .card h4 {
      font-size: 24px;
      margin-bottom: 40px; }
    .price .card p {
      display: flex;
      align-items: center;
      justify-content: center; }
      .price .card p span {
        margin-left: 5px; }
    .price .card:hover {
      border-color: #FF8300; }
    .price .card .btn-orange {
      width: 80%;
      margin-top: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto; }

nav {
  -webkit-box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 0.75); }
  nav .container {
    padding: 15px 0; }
    nav .container a {
      color: #4B5268;
      font-weight: 500;
      margin: 0 15px; }
      nav .container a.active {
        color: #FF8300 !important; }

.text-b {
  font-size: 18px; }

.trapezoid-1 {
  position: absolute;
  bottom: -200px;
  right: 0; }
.trapezoid-2 {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.partners {
  padding: 45px 0; }
  .partners h2 {
    margin-bottom: 50px; }
  .partners .swiper-1 {
    box-shadow: 0px 5px 18px rgba(99, 108, 139, 0.3);
    border-radius: 12px; }
  .partners .body {
    border-radius: 12px;
    background-color: white; }
  .partners .content {
    padding: 30px; }
  .partners .right-1 {
    position: absolute;
    right: 0;
    top: 50%; }
  .partners .left-1 {
    position: absolute;
    left: 0;
    top: 50%; }

.get {
  background-image: url("../img/f.bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 60px 0 45px; }
  .get h2 {
    color: white;
    margin-bottom: 40px; }
  .get .nav-tabs {
    border: 0; }
  .get .nav-item {
    width: 50%; }
    .get .nav-item a {
      text-align: center;
      padding: 0;
      line-height: 68px;
      text-transform: uppercase;
      color: white;
      font-weight: 300;
      width: 100%;
      display: block;
      height: 100%; }
      .get .nav-item a:hover {
        text-decoration: none; }
      .get .nav-item a.active {
        background-color: white;
        font-weight: 400;
        color: #4B5268;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        position: relative;
        z-index: 1; }
        .get .nav-item a.active::after {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: white;
          left: 0;
          bottom: -30px;
          content: "";
          z-index: -1; }
      .get .nav-item a:first-child.active::before {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px; }
  .get .tab-content {
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
    border-radius: 30px; }
  .get .tab-pane {
    padding: 75px 0; }
    .get .tab-pane .col-md-6 {
      margin-bottom: 40px; }
      .get .tab-pane .col-md-6 span {
        margin-left: 20px; }
  .get .btn-orange {
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    margin: 40px auto;
    text-transform: uppercase; }

.why {
  padding: 50px 0 100px; }
  .why .adv-card {
    border-radius: 15px;
    background-color: white;
    padding: 24px 22px;
    width: 23%;
    margin-right: 1.9%; }
    .why .adv-card span {
      display: block;
      color: black;
      font-size: 50px;
      line-height: 60px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      margin-bottom: 10px; }
    .why .adv-card p {
      font-weight: 400; }

.right-2 {
  position: absolute;
  top: 50%;
  right: -50px;
  width: 30px !important; }

.left-2 {
  position: absolute;
  left: -50px;
  top: 50%;
  width: 30px !important; }

.advantage {
  padding: 70px 0;
  background-image: url("../img/white.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .advantage h2 {
    margin-bottom: 60px; }
  .advantage p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 14px; }
  .advantage span {
    display: block; }

.aim {
  padding: 70px 0;
  background-image: url("../img/aim.svg");
  background-position: center;
  background-repeat: no-repeat; }
  .aim .context {
    background-color: white;
    padding: 50px 70px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 5px 18px rgba(99, 108, 139, 0.3); }
  .aim .img-tr {
    position: absolute;
    top: 0;
    right: 0; }
  .aim .btn-orange {
    background-color: #DFE6FF;
    color: #4B5268; }

.proud {
  position: relative; }
  .proud .img-tr {
    position: absolute;
    left: 0;
    top: 0;
    width: auto !important; }

video {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%; }

header {
  padding: 50px 0 120px;
  background-image: url("../img/header.png");
  background-position: bottom;
  background-size: cover;
  position: relative; }
  header .container {
    position: relative;
    z-index: 11; }
  header::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; }
  header h1, header h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 24px; }
  header p {
    font-size: 18px;
    color: white;
    margin-bottom: 0;
    font-weight: 300; }
  header .swiper-2 {
    margin-top: 100px; }
  header .play {
    margin: 30px 0; }
  header .swiper-pagination-bullet {
    opacity: 1 !important;
    background-color: white;
    width: 15px;
    height: 15px;
    margin-right: 20px; }
  header .swiper-pagination-bullet-active {
    background-color: #FF8300; }

form {
  background-color: white;
  border-radius: 12px;
  padding: 50px 30px; }
  form .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    display: block; }
  form label {
    font-size: 12px; }
  form input, form textarea {
    background-color: #F7F8FE;
    border-radius: 12px;
    padding: 12px;
    font-size: 12px;
    outline: none;
    display: block;
    width: 100%;
    border: 0; }
  form .privacy {
    font-size: 12px; }

.modal {
  background-color: rgba(255, 131, 0, 0.5); }
  .modal form input, .modal form textarea {
    background-color: white !important; }

section {
  padding: 100px 0 50px !important; }

@media (max-width: 992px) {
  .menu {
    display: none; }

  nav {
    padding-left: 15px;
    padding-right: 15px; }
    nav a {
      margin-right: 0 !important; }

  header {
    padding: 30px 0;
    min-height: calc(100vh - 75px); }
    header .swiper-2 {
      margin-top: 0; }
    header h1, header h2 {
      font-size: 32px;
      text-align: center;
      margin: 10vh 0; }
    header p {
      font-size: 12px; }
    header .play {
      display: block;
      margin: 70px auto 0;
      width: 50px; }
    header .swiper-pagination {
      display: none; }
    header form {
      display: none; }

  .aim .context {
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px; }
    .aim .context p {
      font-size: 12px; }

  h2 {
    font-size: 24px;
    margin-bottom: 30px !important; }

  section {
    padding: 40px 0 !important; }

  .trapezoid-1, .trapezoid-2, .img-tr {
    display: none; }

  .advantage .col-6 {
    margin-bottom: 20px; }
  .advantage img {
    width: 80px; }
  .advantage p {
    font-size: 14px;
    margin-bottom: 5px; }
  .advantage span {
    font-size: 12px; }

  .why .adv-card {
    width: 48%;
    margin-bottom: 10px;
    padding: 15px; }
    .why .adv-card span {
      font-size: 30px;
      line-height: 30px; }
    .why .adv-card p {
      font-size: 13px; }

  .get .nav-item a {
    line-height: 35px;
    color: black !important;
    font-size: 11px;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important; }
  .get .tab-content {
    border-radius: 10px; }
    .get .tab-content .tab-pane {
      padding: 35px 0 25px !important; }
    .get .tab-content img {
      width: 40px; }
    .get .tab-content .col-md-6 {
      margin-bottom: 15px; }
    .get .tab-content p, .get .tab-content span {
      font-size: 11px; }
  .get .btn-orange {
    margin: 20px auto; }

  .partners .body {
    display: block !important; }
    .partners .body img {
      width: 100%;
      height: 140px;
      object-fit: cover; }
    .partners .body .content {
      padding: 15px; }
    .partners .body p {
      font-size: 11px; }
  .partners .swiper-1 {
    margin-right: 20px;
    margin-left: 20px; }

  .price .card {
    padding: 15px;
    margin-bottom: 30px; }
    .price .card h4 {
      font-size: 17px;
      margin-bottom: 15px; }
    .price .card p {
      font-size: 12px;
      margin-bottom: 7px; }
    .price .card .btn-orange {
      margin-top: 10px;
      font-size: 11px;
      padding-top: 5px;
      padding-bottom: 5px; }

  .franchise {
    background-image: none; }
    .franchise p {
      font-size: 13px; }

  footer {
    padding: 30px 0;
    text-align: center; }
    footer .socials a {
      justify-content: center !important; }
    footer h3 {
      font-size: 24px;
      margin-bottom: 20px; }
    footer p, footer a, footer span {
      font-size: 14px; }
    footer #map {
      height: 150px;
      margin-bottom: 20px; } }
figure.snip1192 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important; }

figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative; }

figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  min-height: 230px; }

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: "FontAwesome";
  content: "“";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal; }

figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px; }

figure.snip1192 blockquote:after {
  content: "”";
  right: 20px;
  bottom: 35px; }

figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: black; }

figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800; }

figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block; }

.reviews {
  background-color: #F7F8FE; }

.swiper-3 {
  width: 100%;
  height: 100%; }
  .swiper-3 .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23100c08'%2F%3E%3C%2Fsvg%3E") !important; }
  .swiper-3 .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23100c08'%2F%3E%3C%2Fsvg%3E") !important; }

.progress {
  background-color: #e6e6e6;
  height: 7px;
  margin: 0 0 10px;
  overflow: visible;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: none; }

.progress-bar {
  border: none;
  background-color: #ff7676;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: none; }
  .progress-bar span {
    background: #ff7676;
    padding: 2px 4px;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: -32px;
    color: #ffffff; }
    .progress-bar span:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #ff7676;
      position: absolute;
      bottom: -7px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

/* -----------------------------------------------------
 *Pure CSS Progress Bars
 *GitHub Project: https://github.com/rkchauhan/pure-css-progress-bars/
 *By: Ravikumar Chauhan
 *Find me on -
 *Twitter: https://twitter.com/rkchauhan01
 *Facebook: https://www.facebook.com/ravi032chauhan
 *GitHub: https://github.com/rkchauhan
 *CodePen: https://codepen.io/rkchauhan
 *-------------------------------------------------------- */
/* -----------------------------------------------------
 *Body
 *-------------------------------------------------------- */
/* -----------------------------------------------------
 *CSS Progress Bars
 *-------------------------------------------------------- */
.cssProgress {
  width: 60%;
  margin: 0 auto; }
  .cssProgress .progress1, .cssProgress .progress2, .cssProgress .progress3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: "Roboto", sans-serif; }
  .cssProgress .cssProgress-bar {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    background: #3798d9;
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    transition: width 0.8s ease-in-out; }
  .cssProgress .cssProgress-label {
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.7em;
    text-align: center;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3); }
  .cssProgress .cssProgress-info {
    background-color: #9575cd !important; }
  .cssProgress .cssProgress-danger {
    background-color: #ef5350 !important; }
  .cssProgress .cssProgress-success {
    background-color: #66bb6a !important; }
  .cssProgress .cssProgress-warning {
    background-color: #ffb74d !important; }
  .cssProgress .cssProgress-right {
    float: right !important; }
  .cssProgress .cssProgress-label-left {
    margin-left: 10px;
    text-align: left !important; }
  .cssProgress .cssProgress-label-right {
    margin-right: 10px;
    text-align: right !important; }
  .cssProgress .cssProgress-label2 {
    display: block;
    margin: 2px 0;
    padding: 0 8px;
    font-size: 0.8em; }
    .cssProgress .cssProgress-label2.cssProgress-label2-right {
      text-align: right; }
    .cssProgress .cssProgress-label2.cssProgress-label2-center {
      text-align: center; }
  .cssProgress .cssProgress-stripes, .cssProgress .cssProgress-active, .cssProgress .cssProgress-active-right {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-size: 35px 35px; }
  .cssProgress .cssProgress-active {
    -webkit-animation: cssProgressActive 2s linear infinite;
    -moz-animation: cssProgressActive 2s linear infinite;
    -ms-animation: cssProgressActive 2s linear infinite;
    -o-animation: cssProgressActive 2s linear infinite;
    animation: cssProgressActive 2s linear infinite; }
  .cssProgress .cssProgress-active-right {
    -webkit-animation: cssProgressActiveRight 2s linear infinite;
    -moz-animation: cssProgressActiveRight 2s linear infinite;
    -ms-animation: cssProgressActiveRight 2s linear infinite;
    -o-animation: cssProgressActiveRight 2s linear infinite;
    animation: cssProgressActiveRight 2s linear infinite; }

@-webkit-keyframes cssProgressActive {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 35px 35px; } }
@-moz-keyframes cssProgressActive {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 35px 35px; } }
@-ms-keyframes cssProgressActive {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 35px 35px; } }
@-o-keyframes cssProgressActive {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 35px 35px; } }
@keyframes cssProgressActive {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 35px 35px; } }
@-webkit-keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -35px -35px; } }
@-moz-keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -35px -35px; } }
@-ms-keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -35px -35px; } }
@-o-keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -35px -35px; } }
@keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -35px -35px; } }
/* -----------------------------------------------------
 *Progress Bar 1
 *-------------------------------------------------------- */
.progress1 {
  background-color: #eee;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2); }
  .progress1 .cssProgress-bar {
    height: 18px; }
  .progress1 .cssProgress-label {
    line-height: 18px; }

/* -----------------------------------------------------
 *Progress Bar 2
 *-------------------------------------------------------- */
.progress2 {
  background-color: #eee;
  border-radius: 9px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2); }
  .progress2 .cssProgress-bar {
    height: 18px;
    border-radius: 9px; }
  .progress2 .cssProgress-label {
    line-height: 18px; }

/* -----------------------------------------------------
 *Progress Bar 3
 *-------------------------------------------------------- */
.progress3 {
  width: auto !important;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px; }
  .progress3 .cssProgress-bar {
    height: 16px;
    border-radius: 3px; }
  .progress3 .cssProgress-label {
    line-height: 16px; }

/* -----------------------------------------------------
 *Progress Bar 4
 *-------------------------------------------------------- */
.progress4 {
  position: relative;
  width: 100%;
  background-color: #eee; }
  .progress4.cssProgress-bg {
    background-color: #bbdefb !important; }
  .progress4.cssProgress-bg-info {
    background-color: #d1c4e9 !important; }
  .progress4.cssProgress-bg-danger {
    background-color: #ffcdd2 !important; }
  .progress4.cssProgress-bg-success {
    background-color: #c8e6c9 !important; }
  .progress4.cssProgress-bg-warning {
    background-color: #ffecb3 !important; }
  .progress4 .cssProgress-bar {
    display: block;
    float: none;
    width: 0%;
    height: 4px;
    background: #3798d9; }
    .progress4 .cssProgress-bar.cssProgress-lg {
      height: 6px; }
    .progress4 .cssProgress-bar.cssProgress-2x {
      height: 8px; }
    .progress4 .cssProgress-bar.cssProgress-3x {
      height: 10px; }
    .progress4 .cssProgress-bar.cssProgress-4x {
      height: 12px; }
    .progress4 .cssProgress-bar.cssProgress-5x {
      height: 14px; }
    .progress4 .cssProgress-bar.cssProgress-glow {
      box-shadow: 5px 0px 15px 0px #3798d9; }
      .progress4 .cssProgress-bar.cssProgress-glow.cssProgress-info {
        box-shadow: 5px 0px 15px 0px #9575cd; }
      .progress4 .cssProgress-bar.cssProgress-glow.cssProgress-danger {
        box-shadow: 5px 0px 15px 0px #ef5350; }
      .progress4 .cssProgress-bar.cssProgress-glow.cssProgress-success {
        box-shadow: 5px 0px 15px 0px #66bb6a; }
      .progress4 .cssProgress-bar.cssProgress-glow.cssProgress-warning {
        box-shadow: 5px 0px 15px 0px #ffb74d; }
    .progress4 .cssProgress-bar.cssProgress-glow-active {
      -webkit-animation: cssProgressGlowActive1 3s linear infinite;
      -moz-animation: cssProgressGlowActive1 3s linear infinite;
      -ms-animation: cssProgressGlowActive1 3s linear infinite;
      -o-animation: cssProgressGlowActive1 3s linear infinite;
      animation: cssProgressGlowActive1 3s linear infinite; }
      .progress4 .cssProgress-bar.cssProgress-glow-active.cssProgress-info {
        -webkit-animation: cssProgressGlowActive2 3s linear infinite;
        -moz-animation: cssProgressGlowActive2 3s linear infinite;
        -ms-animation: cssProgressGlowActive2 3s linear infinite;
        -o-animation: cssProgressGlowActive2 3s linear infinite;
        animation: cssProgressGlowActive2 3s linear infinite; }
      .progress4 .cssProgress-bar.cssProgress-glow-active.cssProgress-danger {
        -webkit-animation: cssProgressGlowActive3 3s linear infinite;
        -moz-animation: cssProgressGlowActive3 3s linear infinite;
        -ms-animation: cssProgressGlowActive3 3s linear infinite;
        -o-animation: cssProgressGlowActive3 3s linear infinite;
        animation: cssProgressGlowActive3 3s linear infinite; }
      .progress4 .cssProgress-bar.cssProgress-glow-active.cssProgress-success {
        -webkit-animation: cssProgressGlowActive4 3s linear infinite;
        -moz-animation: cssProgressGlowActive4 3s linear infinite;
        -ms-animation: cssProgressGlowActive4 3s linear infinite;
        -o-animation: cssProgressGlowActive4 3s linear infinite;
        animation: cssProgressGlowActive4 3s linear infinite; }
      .progress4 .cssProgress-bar.cssProgress-glow-active.cssProgress-warning {
        -webkit-animation: cssProgressGlowActive5 3s linear infinite;
        -moz-animation: cssProgressGlowActive5 3s linear infinite;
        -ms-animation: cssProgressGlowActive5 3s linear infinite;
        -o-animation: cssProgressGlowActive5 3s linear infinite;
        animation: cssProgressGlowActive5 3s linear infinite; }

@-webkit-keyframes cssProgressGlowActive1 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #3798D9; }
  45% {
    box-shadow: 1px 0px 4px 0px #3798D9; } }
@-moz-keyframes cssProgressGlowActive1 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #3798D9; }
  45% {
    box-shadow: 1px 0px 4px 0px #3798D9; } }
@-ms-keyframes cssProgressGlowActive1 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #3798D9; }
  45% {
    box-shadow: 1px 0px 4px 0px #3798D9; } }
@-o-keyframes cssProgressGlowActive1 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #3798D9; }
  45% {
    box-shadow: 1px 0px 4px 0px #3798D9; } }
@keyframes cssProgressGlowActive1 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #3798D9; }
  45% {
    box-shadow: 1px 0px 4px 0px #3798D9; } }
@-webkit-keyframes cssProgressGlowActive2 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #9575cd; }
  45% {
    box-shadow: 1px 0px 4px 0px #9575cd; } }
@-moz-keyframes cssProgressGlowActive2 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #9575cd; }
  45% {
    box-shadow: 1px 0px 4px 0px #9575cd; } }
@-ms-keyframes cssProgressGlowActive2 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #9575cd; }
  45% {
    box-shadow: 1px 0px 4px 0px #9575cd; } }
@-o-keyframes cssProgressGlowActive2 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #9575cd; }
  45% {
    box-shadow: 1px 0px 4px 0px #9575cd; } }
@keyframes cssProgressGlowActive2 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #9575cd; }
  45% {
    box-shadow: 1px 0px 4px 0px #9575cd; } }
@-webkit-keyframes cssProgressGlowActive3 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ef5350; }
  45% {
    box-shadow: 1px 0px 4px 0px #ef5350; } }
@-moz-keyframes cssProgressGlowActive3 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ef5350; }
  45% {
    box-shadow: 1px 0px 4px 0px #ef5350; } }
@-ms-keyframes cssProgressGlowActive3 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ef5350; }
  45% {
    box-shadow: 1px 0px 4px 0px #ef5350; } }
@-o-keyframes cssProgressGlowActive3 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ef5350; }
  45% {
    box-shadow: 1px 0px 4px 0px #ef5350; } }
@keyframes cssProgressGlowActive3 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ef5350; }
  45% {
    box-shadow: 1px 0px 4px 0px #ef5350; } }
@-webkit-keyframes cssProgressGlowActive4 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #66bb6a; }
  45% {
    box-shadow: 1px 0px 4px 0px #66bb6a; } }
@-moz-keyframes cssProgressGlowActive4 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #66bb6a; }
  45% {
    box-shadow: 1px 0px 4px 0px #66bb6a; } }
@-ms-keyframes cssProgressGlowActive4 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #66bb6a; }
  45% {
    box-shadow: 1px 0px 4px 0px #66bb6a; } }
@-o-keyframes cssProgressGlowActive4 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #66bb6a; }
  45% {
    box-shadow: 1px 0px 4px 0px #66bb6a; } }
@keyframes cssProgressGlowActive4 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #66bb6a; }
  45% {
    box-shadow: 1px 0px 4px 0px #66bb6a; } }
@-webkit-keyframes cssProgressGlowActive5 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ffb74d; }
  45% {
    box-shadow: 1px 0px 4px 0px #ffb74d; } }
@-moz-keyframes cssProgressGlowActive5 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ffb74d; }
  45% {
    box-shadow: 1px 0px 4px 0px #ffb74d; } }
@-ms-keyframes cssProgressGlowActive5 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ffb74d; }
  45% {
    box-shadow: 1px 0px 4px 0px #ffb74d; } }
@-o-keyframes cssProgressGlowActive5 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ffb74d; }
  45% {
    box-shadow: 1px 0px 4px 0px #ffb74d; } }
@keyframes cssProgressGlowActive5 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ffb74d; }
  45% {
    box-shadow: 1px 0px 4px 0px #ffb74d; } }
.lolkek {
  margin-left: 120px; }

.cheburek {
  margin-left: 100%; }

.economy {
  font-weight: bold; }
  .economy span {
    color: orange; }
  .economy li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em; }
  .economy li span {
    display: block;
    font-size: 4.5rem; }

footer .orange-border {
  padding-top: 50px; }
  footer .orange-border h2 {
    border: 3px solid #FF8300;
    border-radius: 100px; }
footer span {
  color: #FF8300; }
footer .form-group input {
  background: none;
  opacity: 0.5;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px); }

/*# sourceMappingURL=style.css.map */
